<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
         {% block title %} RapiDoc - Ingresar {% endblock title %}
        </title>

        <!-- Estilos Javascript -->
        {% block stylesheets %}
         <link rel="shortcut icon" href="{{ asset('img/icon.ico') }}" />
         <link rel="stylesheet" href="{{ asset('css/icon.css') }}"> 
         <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"> 
         <link rel="stylesheet" href="{{ asset('css/estilos.css ') }}"> 
        {% endblock %}
        <!-- Estilos Javascript -->
        
    </head>
    <body>
        {% block header %}
            <!-- Header -->
            <header> 
                <!-- NAV -->
                <nav>
                    <div class="nav-wrapper blue lighten-2">                    
                        {% if app.request.attributes.get('_route') == "app_login" %}
                            <a id="logoUrl" href="{{ path('index') }}" class="brand-logo">
                             <img class="logoHeader" src="{{ asset('img/logo.png') }}">
                            </a> 
                        {% else %}
                            <a id="logoUrl" href="{{ path('home') }}" class="brand-logo">
                             <img class="logoHeader" src="{{ asset('img/logo.png') }}">
                            </a> 
                        {% endif %}                            
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> 
                        
                        <!-- Links del Nvar -->
                        <ul id="nav" class="right hide-on-med-and-down">
                         <li><a href="{{ path('app_login') }}"><i class="material-icons left">home</i> Ingresar</a></li>
                        </ul>
                        <!-- Links del Nvar -->
                    </div>
                </nav>
                <!-- NAV -->
                <!-- NAV Mobile -->
                <ul class="sidenav" id="mobile-demo">
                 <li><a href="{{ path('app_login') }}"><i class="material-icons left">home</i> Ingresar</a></li>
                </ul>
                <!-- NAV Mobile -->
            </header>
        <!-- Header -->
        {% endblock header %}

        {% block body %} 

        <!-- Bloque que contendra las vista de la App -->
        <main> 
        <br>
        <div class="row">              
        {% block contenido %} 
         <div class="offset-s2 col s8 offset-s2">
            <ul class="collection with-header" id="listadoPersonas">
             <li class="collection-header blue lighten-2 white-text"><center><h5>Ingresar al Sistema</h5></center></li>
                <!-- Formulario de Ingreso -->
                <li class="collection-item">
                    
                    <form method="post">
                        {% if error %}
                         <div class="alert alert-danger"><center>{{ error.messageKey|trans(error.messageData, 'security') }}</center></div>
                        {% endif %}

                     <label for="inputUsername">Username</label>
                     <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                     <label for="inputPassword">Password</label>
                     <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                     <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {#
                         Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                         See https://symfony.com/doc/current/security/remember_me.html
                        <div class="checkbox mb-3">
                        <label><input type="checkbox" name="_remember_me"> Remember me</label></div>
                        #}
                     <br>
                     <center><button class="btn blue lighten-2 white-text" type="submit">Ingresar</button></center>                     
                    </form>
                </li>
                <!-- Formulario de Ingreso -->
         </div>

        <div class="offset-s2 col s8 offset-s2">
         <center>
            <a href="{{ path('app_registro') }}" class="waves-effect waves-light btn-large blue lighten-2 white-text">
             <i class="material-icons left">add</i>Registrarme
            </a> 
         </center>
        </div>


        {% endblock contenido %}
        
        
        </div>
        </main>
        <!-- Bloque que contendra las vista de la App -->


        <!-- Footer -->
        {% block footer %} 
        <footer class="page-footer blue lighten-2">            
            <div class="container">
                <div class="row">
                    <div class="col s12">
                     <h5 class="white-text">Rapidoc</h5>
                     <p class="grey-text text-lighten-4">Creación y Gestión de documentos de forma rápida y sencilla en formato digital.</p>
                    </div>            
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                 © 2021 RapiDoc 
                 <a class="grey-text text-lighten-4 right" href="#!">Mas Informacion</a>
                </div>
            </div>
        </footer>
        {% endblock footer %} 
        <!-- Footer-->

        <!-- Funciones Javascript -->
        {% block javascripts %}
         <script src="{{ asset('js/materialize.min.js') }}"></script>
         <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>            
        {% endblock %}
        <!-- Funciones Javascript -->

        {% endblock body %}
    </body>
</html>







