{% extends 'base.html.twig' %}
 

                
{% block contenido %}
<div class="separadorMain">  


  <!-- Caja  -->
  <div class="offset-s1 col s10 offset-s1">
    <center><h4 class="titulo">Empleadores Registrados</h4></center>
    <ul class="collection with-header">
    <table class="striped centered">
        <thead class="blue lighten-2 white-text">
          <tr>
           <th><strong>Apellido</strong></th>
           <th><strong>Nombre</strong></th>
           <th><strong>Mail</strong></th>
           <th><strong>DNI</strong></th>
           <th><strong>Cuit/Cuil</strong></th>
           <th><strong>Acciones</strong></th>
          </tr>
        </thead>
        <tbody class="cyan lighten-5">
          {% for empleador in empleadores %}
          <tr>
            <td>{{empleador.apellido}}</td>
            <td>{{empleador.nombre}}</td>
            <td>{{empleador.mail}}</td>
            <td>{{empleador.dni}}</td>
            <td>{{empleador.cuitcuil}}</td>
            <td>              
              <a style="margin:5px;" title="Eliminar" href="{{ path('borrarEmpleador',{'idEmpleador': empleador.id}) }}" class="btn-small waves-effect waves-light blue lighten-2 white-text" id="{{empleador.id}}">
               <i class="material-icons">delete</i> 
              </a>
              <a style="margin:5px;" title="Editar" href="{{ path('editarEmpleador',{'idEmpleador': empleador.id}) }}" class="btn-small waves-effect waves-light blue lighten-2 white-text" id="{{empleador.id}}">
               <i class="material-icons">edit</i> 
              </a>
              <a style="margin:5px;" title="Ver"href="{{ path('verEmpleador',{'idEmpleador': empleador.id}) }}" class="btn-small waves-effect waves-light blue lighten-2 white-text" id="{{empleador.id}}">
               <i class="material-icons">pageview</i> 
              </a>
            </td>         
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>
  </div>   
  <!-- Caja -->


 

    
    <br>
    <!-- Botones de Direccionamiento -->
    <div class="offset-s2 col s8 offset-s2">
    <center>
        <a href="{{ path('nuevoEmpleador') }}" class="waves-effect waves-light btn-large blue lighten-2 white-text">
          <i class="material-icons left">add</i>Registrar Nuevo Empleador
        </a> 
        <a href="{{ path('home') }}" class="waves-effect waves-light btn-large blue lighten-2 white-text">
          <i class="material-icons left">home</i>Volver al Home
        </a> 
    </center>
    </div>
    <!-- Botones de Direccionamiento -->

    
</div>
{% endblock contenido %}            

