{% extends 'base.html.twig' %}
 

                
{% block contenido %}
<div class="separadorMain">  


  <!-- Caja de Datos del Usuario -->
  <div class="offset-s2 col s8 offset-s2">

    <ul class="collection with-header" id="listadoPersonas">
      <li class="collection-header blue lighten-2 white-text"><h6>Perfil de Usuario {{usuario}}</h6></li>
      <li class="collection-item"><strong><i class="material-icons left">person</i>Usuario: </strong> {{ usuario.username }}</li>
      <li class="collection-item"><strong><i class="material-icons left">email</i>Mail: </strong> {{ usuario.mail }}</li>
      <li class="collection-item"><strong><i class="material-icons left">person</i>Rango: </strong> {{ usuario.roles[0] }}</li>
      <li class="collection-item blue lighten-4">
        <a href="{{ path('user_editar_mail') }}" class="waves-effect waves-light btn-small blue lighten-2 white-text">
         <i class="material-icons left">edit</i>Actualizar Mail
        </a>  
        <a href="{{ path('user_editar_password') }}" class="waves-effect waves-light btn-small blue lighten-2 white-text">
         <i class="material-icons left">edit</i>Modificar Contraseña
        </a>    
      </li>     
    </ul>
       
  </div>   
  <!-- Caja de Datos del Usuario -->

   <!-- Botones de Direccionamiento -->
    <div class="offset-s2 col s8 offset-s2">
    <center>
        <a href="{{ path('home') }}" class="waves-effect waves-light btn-large blue lighten-2 white-text">
          <i class="material-icons left">home</i>Volver al Home
        </a> 
    </center>
    </div>
    <!-- Botones de Direccionamiento -->


</div>
{% endblock contenido %}            

